# Comments

Single line comments in python are written using a #. Comments are lines that will not be executed but are useful to provide information about the code.

In [ ]:
# This is a comment

# Data Types

This is a very short introduction into some useful data types in python.

* Strings
* Integers
* Floats

In [ ]:
# In python we can define a string using single or double quotes
name = 'Amy'
last_name = 'Smith'

# The assign operator in this case the equal sign is used to assign
# A value to a variable. In this case the variables are to the left
# of the operator and we are assigning string values to these variables

In [ ]:
# We use the print() function to output the values of variables
print(name)

In [ ]:
# Functions are called using the name of the function 
# Followed by parenthesis. If the function has arguments, they are
# given inside the parenthesis

### Exercise 1: Create a variable dog and assign a string value as its name also output the value of the variable with the print function

In [ ]:
# In python we can also have numeric variables such as integers and
# floats.

x = 10 # this is an example of an integer variable
y = 10.5 # this is an example of a floating point variable (float)

# The print function can receive infinite number of parameters separated
# with a comma and then outputs them with a white space separating the
# values

print(x, y)

In [ ]:
# The type() function is used to ask our variables what type they are

name_type = type(name) # saves the output of type into a variable
print(name_type)

In [ ]:
# As we can see it returns what we expected we knew we had previosly
# assigned a str or string to our variable name

### Exercise 2: Create a float named width and an integer called year. Output the width and year separated by a space. Also output the type of each variable separated by a space.

# Operators

We can perform different type of operations to our variables but we need to keep in mind how is the operation we used defined for a given data type 

* \+ (addition)
* \- (substraction)
* \* (multiplication)
* / (division)
* // (integer division)
* ** (power)
* % (modulus)

In [ ]:
a = 5
b = 8
print(a + b)

In [ ]:
print(a - b)

In [ ]:
print(a * b)

In [ ]:
print(a // b)

In [ ]:
# Notice that from this operation between two integers we got a float
print(a / b)

In [ ]:
# we can also use values in operations without creating a variable
print(a ** 2)

In [ ]:
print(10 % 2) # Remainder of the division 10 / 2

In [ ]:
# We can also do operations between strings

full_name = name + last_name
print(full_name)

In [ ]:
# Some operations are not defined for a given data type
# We get an error unsupported operand (-) between strings
print(name - last_name)

### Exercise 3: Create a variable dog_last and assign a string as its last name. Create a variable called dog_full that has the name and the last name separated by and underscore and output it

In [ ]:
# Some operations are also defined between mixed data types

asterisk = '*' # Variable asterisk holds a string of one character *
ten_asterisks = 10 * asterisk # We can mupltiply a string with a integer
print(ten_asterisks)

In [ ]:
# It does not make much sense to have 10.2 characters so as expected
# we get and cant multiply error
ten_point_two_asterisks = 10.2 * asterisk

In [ ]:
# We can also convert between types using their respective conversion
# functions

num = 15 
print(type(num)) # Integer as expected

In [ ]:
# Here we convert num to a float and save it to converted
converted = float(num)
print(converted, type(converted))

In [ ]:
int_str = str(num)
float_str = str(converted)
print(int_str, type(int_str), float_str, type(float_str))

### Exercise 4: Create a variable of 33 '@' and a variable of 12 '!' create a variable called ascci_A = 65 use the chr() function to convert this variable to a string. Add all 3 strings together and output it.

# For loops

In [ ]:
# We can use loops to repeate repetitive tasks. Here is the main syntax
# Say for example we want to add up all the numbers to 99.

# The range iterator is used to iterate from a start to an end given
# a step range(start, stop, step)

counter = 0
for i in range(0, 100, 1): # ranges starts at 0 goes to 99 every 1  
# i is a variable that saves the range value for that iteration
    counter = counter + i  # Here we add i to what our counter
print(counter)

In [ ]:
# We can simplify the notation since the loop we usually want to start
# at 0 and takes steps of 1 that is the default value so we can omit them
counter = 0
for i in range(100):  
    counter += i  # We use the += operator that adds to the existing value
print(counter)

In [ ]:
# We can verify we are correct using the formula by gauss that says
# that the sum of the first n integers is n * (n+1)/ 2

gauss_sum = 99 * (99 + 1) // 2
print(gauss_sum)

### Exercise 5: Write a for loop that adds up the first 200 even numbers and print it to the screen (Hint: think of the step)

### Exercise 6: Write a for loop that outputs a right triangle made up of asterisks were the base is 10 asterisks. (Hint: print inside the loop)

# Data Structures

# There are many data structures here we are going to focus on 2

* lists
* arrays (numpy)

In [ ]:
# In python we define a list using square brackets [] separating
# the elements with a comma.

animals = ['lion', 'dog', 'cat', 'rat'] # list of 4 strings
print(animals)

In [ ]:
new_animals = ['pig', 'horse'] # list of 2 strings
# We can use some operators between lists
all_animals = animals + new_animals
print(all_animals)

In [ ]:
one_dollar = ['$1'] # list with 1 string
fifty_dollars = 50 * one_dollar # list with 50 strings
print(fifty_dollars)

In [ ]:
# A list is special because it can have mixed data types
miscellaneous = ['Helen', 28, 77.8]
print(miscellaneous)
# We can iterate over the elements of a list with a for
for element in miscellaneous:
    print(type(element))
# As we can see we have strings, integers and floats in our list

In [ ]:
# We can fill lists using the .append()
evens = [] # Define an empty list
for num in range(2, 102, 2):
    evens.append(num) # appends num to the list
print(evens)

In [ ]:
# We can get the length of a list with the len() function
print(len(evens))

In [ ]:
# We can access elements of a list by index or a list of indeces
print(evens[0]) # gives us the element 0 or first element
print(evens[1]) # gives us the element 1 or second element
print(evens[-1]) # gives us the last element
print(evens[-2]) # gives us the second to last

In [ ]:
# We can also get slices of the list
print(evens[0:10]) # gives us element 0 to 9
print(evens[-10:-1]) # gives us the last 10 elements
# We can invert a list also
print(evens[::-1])

In [ ]:
# we can use the len of the list to iterate over the elements
for i in range(len(evens)):
    # We can also access elements of a list by index inside the for
    print('Index: ', i,' Even: ', evens[i])

### Exercise 7: Create a list of odd numbers from 1 to 100. Create a list of 25 'Jake' and 25 'Joe'. Check that the length of both lists is the same. Iterate over both lists and print the name and the number.

In [ ]:
# Numpy arrays are structures that only hold one data type and the size
# of it needs to be known. Even though list are more flexible numpy
# arrays are much faster for numeric work.

# For this to work we need to import the numpy library.
# Libraries are usually installed using the pip command in the terminal
# Once intalled we can import as follows
import numpy as np # Here we give the name of np to numpy so it is faster to type


# This are different ways to initialize a numpy array

array_of_zeros = np.zeros(10, dtype = int) # array of 10 integer zeros
array_of_ones = np.ones(10, dtype = int) # array of 10 integer ones

print(array_of_zeros)
print(array_of_ones)

In [ ]:
# We can also use the array() function to convert a list to an array

array_evens_int = np.array(evens) # The type is determined automatically
print(array_evens_int)

array_evens_float = np.array(evens, dtype = float) # We can also change the type if needed
print(array_evens_float)

In [ ]:
array_names = np.array(names)
print(array_names)

In [ ]:
# As mentioned before we can only have one data type
array_miscellaneous = np.array(miscellaneous)
print(array_miscellaneous) # It automatically changed the type of the
# numbers to the type of the first element strings.

In [ ]:
# If we try to force it as integers it fails as Helen cant be converted
array_miscellaneous = np.array(miscellaneous, dtype = int)

In [ ]:
# Some of the benefits of numpy arrays
numbers = [1,2,3,4,5,6]
numbers_plus_two = numbers + 2 # This operation is not defined for lists

In [ ]:
# To add a two to every element we need a for loop
numbers_plus_two = []
for i in range(len(numbers)):
    numbers_plus_two.append(numbers[i] + 2)
print(numbers_plus_two)

In [ ]:
# For loops are usually very slow in python we can do better with numpy
numbers_np = np.array([1,2,3,4,5,6])
numbers_plus_two_np = numbers_np + 2 # This operations works and is faster
print(numbers_plus_two_np)

In [ ]:
# We can also multiply, divide, subtract, elevate to a power
print(numbers_np ** 2)
print(numbers_np / 2)
print(numbers_np - 1)
print(numbers_np * 10)

In [ ]:
# We can also turn a numpy array into a list
np_array_list = list(np.arange(1, 100, 1)) # np.arange is similar to range()
print(np_array_list, type(np_array_list)) # As we can see is type list

In [ ]:
# Another way of doing this without numpy is
list_nums = list(range(1,100,1)) # We need to convert the iterator to a list
print(list_nums)

# Another way of doing this
list_nums = [*range(1,100,1)] # The * operator in this case is used to unpack the iterator
print(list_nums)

### Exercise 8: Create a list of numbers from 0 to 49 and a list from 50 to 99. Add the elements from each list elementwise to a temporary list. Output this list and then add the all the elements of the temporary list and print the final sum. Do the same using numpy arrays (Hint: read about the np.sum function for the last part).

In [ ]:
# Arrays and list can also be multidimensional for example
# Let say we have vectors with components [x, y, z] this can be 
# regarded as a list of 3 elements or an array of 3 elements.
# But now consider we have many vectors. For example a protein with
# 1000 atoms each with a vector that denotes its position.

# We can specify any set of dimensions with parenthesis and separated by
# a comma when we define our array

positions = np.zeros((1000, 3)) # In this case we have a multidimensional array

# We have set it to 1000 rows and each row has 3 columns
# We can access the this information with the np.shape() function
print(np.shape(positions))

# Right now our array is not that interesting as it is full of zeros
print(positions)

In [ ]:
# Since we are now working with a 2d array we need to indeces to access
# our values for example lets make the element of the first row and
# the first column equal to 1

positions[0][0] = 1
print(positions)

In [ ]:
# Lets see how we can access all the values of this 2d array
# First we can use np.shape to save the dimensions of the array
# We can assign more than one variable in one line as long as we have
# enough elements. Here we know shape returns 2 values so we assign them
# to 2 variables
rows, cols = np.shape(positions)
for i in range(rows): # we first go over every row
    for j in range(cols): # then for a given row we go over every column
        positions[i][j] = np.random.random()# Here we need 2 indeces one for the row and one for the column
# Here np.random.random returns a random value between 0 and 1

In [ ]:
print(positions)

In [ ]:
# Now that we learn how to access 2d array elements in the case of
# generating random arrays there is an easier way
# Here we generate random numbers between 0 and 1 for a given shape
random_positions = np.random.rand(1000,3)
print(random_positions)

# Conditionals

This are logical operations that we can add to our program to make decisions based on certain conditions.

In [ ]:
# Lets first introduce another very simple data type a bool or boolean
# this a data type that takes only two values either True or False

true_bool = True
false_bool = False

# We can perform some operations between booleans

# When we do the arithmetic operations True takes the value of 1 and False a value of 0
print(true_bool + false_bool)
print(true_bool * false_bool)
print(true_bool - false_bool)

In [ ]:
# For bool types we also have the logic operators
print(true_bool and false_bool) # Needs both to be True to be True
print(true_bool or false_bool)  # Only needs one True to be True
# We can also negate the expressions with the not
print(not true_bool)

In [ ]:
# We can also use comparisons to create booleans
# The == compare gives True if the values on both sides are equal
exp_bool = 5 == 6 # is 5 equal to 6 -> False
print(exp_bool)
# The != compare gives True if the values on both sides are different
exp_bool = 5 != 6  # is 5 different than 6 -> True 
print(exp_bool)
exp_bool = 5 > 6  # is 5 greater than 6 -> False 
print(exp_bool)
exp_bool = 5 < 6  # is 5 smaller than 6 -> True 
print(exp_bool)
# To this last two we can the = sign to modify them to greater than
# or equal to (>=) or less than or equal to (<=)

In [ ]:
# We can combine what we learn from the logical operators with the
# comparisons

bool_long = 8 > 6 and 7 == 6 # Left is true but right is false so false
print(bool_long)
bool_long = 10 > -5 and 7 >= 7 # Both true so true
print(bool_long)

In [ ]:
# Now the final part is to add conditionals to this statements

c = 20

# This is an if-else statement if our expression is true we go inside
# otherwise we go inside the else

if c >= 0:
    print('Positive number')
else:
    print('Negative number')

In [ ]:
# We can also have more than one condition. We want to know if a number
# is a multiple of 2 but also if it is a multiple of 3

nums = np.arange(1, 21) # list of number 1-20
for num in nums: # for loop over the list
    if num % 2 == 0: # if the number is multiple of 2
        print("Multiple of 2: ", num)
    elif num % 3 == 0: # if number is multiple of 3
        print("Multiple of 3: ", num)
    else:
        print("Badluck: ", num)
        
# There is a bug when a number is multiple of both 2 and 3 it only shows
# as a multiple of 2 since it is the first if. Try modyfing it to also
# consider this situation

In [ ]:
# We can also have nested conditionals. For example we want the names
# than have more than 4 letters and start with either T or P.
names = ['Peter', 'Matt', 'Taylor', 'Nate', 'Sydney']

for name in names:
    if len(name) > 4: # We can use the len() function with strings since they are a list of characters
        if name[0] == 'T' or name[0] == 'P': # For the same reason we can index a string to get the first letter
            print('This name is valid: ', name)
        else:
            print('Invalid name: ', name)
    else:
        print('Invalid name: ', name)

### Exercise 9: Given the following DNA sequence. Find the GC content. In other words find how many times either of these pairs occurs and divide by the total. Also find the number of start codons ATG and end codons TAA, TAG and TGA

In [ ]:
# Ignore the backslashes they are used when a string is very long

DNA_seq = '\
CCGAGGGCACAATCCTATTCCCATTTGTATG\
TTCAGCTATCTTCTACCCATCCCCGGAAGTT\
AAGTAGGTCGTGAGATGCCGAGGAGGCTCTC\
GTTCATCCCGTGGGACATCAAGCTTCCCCTT\
GATAAAGCACCCCGCTCGGGTATGGCAGAGA\
GGACGCCTTCTGAATTGTGCTATCCCTCGAC\
CTTATCAAAGCTTGCTACCAATAATTAGGAT\
TATTGCCTTGCGACAGACCTCCTACTCAGAC\
TGCCTCACATTGAGCTAGTCAGTGAGCGATA\
AGCTTGACCCGCTTTCTAGGGTCGCGAGTAC\
GTGAACTAGGGCTCCGGACAGGGCTATATAC\
TCGAGTTTGATCTCGCCCCGACAACTGCAAA\
CCTCAACTTTTTTAGATAATATGGTTAGCCG\
AAGTTGCACGAGGTGCCGTCCGCGGACTGCT\
CCCCGGGTGTGGCTCCTTCATCTGACAACGT\
GCAACCCCTATCGCCATCGATTGTTTCTGCG\
GACGGTGTTGTCCTCATAGTTTGGGCATGTT\
TCCCTTGTAGGTGTGAAACCACTTAGCTTCG\
CGCCGTAGTCCTAAAGGAAAACCTATGGACT\
TTGTTTCGGGTAGCACCAGGAATCTGAACCA\
TGTGAATGTGGACGTGGCGCGCGTACACCTT\
AATCTCCGGTTCATGCTAGGGATGTGGCTGC\
ATGCTACGTTGACACACCTACACTGCTCGAA\
GTAAATATACGAAGCGCGCGGCCTGGCCGGA\
GCCGTTCCGCATCGTCACGTGTTCGTTTACT\
GTTAATTGGTGGCACATAAGCAATATCGTAG\
TCCGTCAAATTCAGCCCTGTTATCCCCGGCG\
TTATGTGTCAAATGGCGTAGAACTGGATTGA\
CTGTTTGACGGTACCTGCTGATCGGTACGGT\
GACCGAGAATCTGTCGGGCTATGTCACTAAT\
ACTTTCCAAACGCCCCGTATCGATGCTGAAC\
GAATCGATGCACGCTCCCGTCTTTGAAAACG\
CATAAACA'

print(DNA_seq)

# Functions

We have been using functions all along but lets see how we can create one

In [ ]:
# All we need to do is use def to define a function
# This is a function with 0 arguments 
def print_10_times():
    for i in range(10):
        print('Print Hello')
    return # Notice our function does not return anything but it prints inside the loop
# Nothing will execute but our function is created
print(type(print_10_times))

In [ ]:
# we can call our function
print_10_times() # Remember the parenthesis at the end

In [ ]:
# Lets create a function that count the number of characters in a
# string

def my_len(word): # our function has one argument
    count = 0
    for char in word:
        count += 1
    return count # This is how we can return an output

In [ ]:
test_str = "Peter"
result = my_len(test_str) # We save the output of the function into result
print(result)

In [ ]:
# We can compare this agaisnt the len() function
print(my_len(test_str) == len(test_str))

In [ ]:
# Lets write a function to calculate the area of a circle and its circunference
# We require to know the radius of the circle therefore we need it as
# an argument
def circle(radius):
    area = np.pi * radius ** 2 # We use the Pi value saved in numpy
    perimeter = 2 * np.pi * radius 
    return area, perimeter # We can return both values using a comma

In [ ]:
area_4, perimeter_4 = circle(4)
print(area_4, perimeter_4)
area_10, perimeter_10 = circle(10)
print(area_10, perimeter_10)

In [ ]:
# Lets create a function to calculate the weighted average of a set of
# grades for a given school and return the letter grade of the student
# and its name. We will also intoduce a small information to tell what 
# our function does know as a docstring

# We are assuming students is a list of strings
# grades is a 2d array with 4 grades per student
# Weight is also a 2d array with the weight for each assignment

def get_grades(students, grades, weights):
    '''
    Calculates the final grade of the students by using a weighted average
    '''
    for i, student in enumerate(students): # Enumerate is used to get the element of the list as well as an index
        total_weight = 0.0
        weighted_sum = 0.0
        for grade, weight  in zip(grades[i], weights): # Zip is used to iterate over the pairs
            weighted_sum += grade * weight
            total_weight += weight
            
        final = round(weighted_sum / total_weight, 1)
        
        if 90 < final <= 100:
            print(student, 'A', final)
        elif 80 < final <= 90:
            print(student, 'B', final)
        elif 60 < final <= 80:
            print(student, 'C', final)
        else:
            print(student, 'F', final)
    
    return

In [ ]:
# Lets create our students
names = ['Peter', 'Alice', 'Kate', 'Joe', 'James']
# Homeworks, quizes, midterm, final 
weights = [10, 5, 30, 50]
# Now we need to generate random data for them. Each rows corresponds
# to a student and each column the grade for that assignment
# We multiply by 100 because our grades are from 0 to 100 finally 
# we use round to limit our grades to one decimal
grades = np.round(100 * np.random.rand(len(names), len(weights)), 1)
print(grades)

In [ ]:
# Now lets use our function passing the 3 arguments
get_grades(names, grades, weights)

### Exercise 10: The following function reads a protein data bank file and saves the positions of the atoms to an array as well as the element of each atom to another array. Write another function that uses this helper function to calculate the center of mass of the backbone of ubiquitin found in the data folder.

In [ ]:
def read_pdb(file_name):
    '''
    Function that reads a pdb file. This function is not general
    and can fail in many cases for complicated pdbs
    '''
    with open(file_name, 'r') as f:
        positions = []
        atom_type = []
        for line in f:
            data = line.split()
            positions.append(data[6:9])
            atom_type.append(data[2])
    return np.array(positions, dtype = float), np.array(atom_type)

Formula for the center of mass
$$
CoM = \frac{\sum_i \vec{r}_i m_i}{\sum_i m_i} 
$$